<body class="p-0 bg-amber-50">
  <header class="fixed top-0 left-0 right-0 z-50 flex bg-gray-300 bg-opacity-15 flex-col w-full md:flex-row justify-between items-center">
    <div class="flex flex-col mx-16 h-28 w-full md:flex-row items-center justify-between">
      <h1 class="text-2xl not-italic">InfoPage</h1>
      <button class="bg-danger-600 text-white px-4 py-2 rounded absolute top-4 right-4 md:static md:ml-auto">Carrinho</button>
    </div>
  </header>
  <main class="flex flex-col bg-gray-200 mt-24 w-full md:flex-row justify-between items-center-4">
    <div class="flex flex-col mx-16 h-32 md:flex-row items-center">
      <h1 class="text-6xl font-mono">Lindezas</h1>
      <p class="text-xl mx-6 mt-6">última atualização --</p>
      <p class="text-xl mx-3 mt-6">july 12, 2024</p>
    </div>
  </main>
</body>