<body class="bg-neutral-700">
<main class="container justify-center mx-auto mt-28 px-5 flex">
  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8 bg-white rounded-lg shadow-lg">
    <div class="mt-28 text-center">
      <h1 class="mt-8 text-4xl font-bold text-gray-800">
        "Passou!"
      </h1>
    </div>
  </div>
</main>
</body>
